<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Template example </title>
    </head>
    <body>
        <h1>{{ .message }}</h1>
        <h1>{{ .id }}</h1>
    </body>
</html>